/* Navigation*/
nav{
    background:green;
    padding: 10px;
    text-align: center;
}

nav a{
    color: white;
    margin: 0 15px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hoover {
color: blueviolet;
transform: scale(1.1);
}
p {
    font-size: 50px;
}
h2 {
    font-size: 100px;
}